<!-- Welcome Section -->
    <section id="welcome" class="bg-dark-blue">
        <div class="container">
            <div class="intro-text">
                <div class=" text-center">
                    <h1>Welcome to RCSSA!</h1>
                    <h2>欢迎来到莱斯大学中国学生学者联谊会</h2>
                </br>
                </br>
                    <h3 style="font-weight: 100;">莱斯大学中国学生学者联合会（RCSSA）是一个具有二十多年历史的非政治、非宗教、非营利性的学生组织。RCSSA致力于丰富学生生活、促进文化交流，并为所有对中国文化和中国社群感兴趣的人提供交流的平台。RCSSA 举办各类文化、体育和职业发展活动，为全体学生丰富校园生活的同时，也加强了中国学生学者之间的连结。此外，RCSSA 还与校内各部门及其他组织合作，积极推动文化交流与校园内的沟通互信。
                    <h3 style="font-weight: 100;">Rice Chinese Students & Scholars Association (RCSSA) is a non-political, non-religious, and non-profit student organization with over two decades of history, dedicated to enriching student life, promoting cultural exchange, and fostering communication among those interested in Chinese culture and community at Rice University. Through academic, social, and cultural programming—including mixers, retreats, galas, sports, and career development—RCSSA enhances the campus experience for all students while strengthening connections among Chinese students and scholars. Additionally, RCSSA collaborates with university offices and other organizations to encourage cultural exchange and mutual understanding across campus.
                    </h3>
                <a href="about" class="page-scroll btn btn-xl">About Us</a>
                </div>
            </div>
        </div>
    </section>
