<section id="intro">
  <div class="container">
    <div class="padding"></div>
    <div class="row">
      <div class="col-md-8">
        <h4 class="about-description">
          莱斯大学中国学生学者联谊会（Rice Chinese Students and Scholars
          Association）是在莱斯大学正式注册的非政治、非宗教、非营利、服务性综合性社团组织。
        </h4>
        <h4 class="about-description" style="margin-top: 3vw">
          自成立以来，RCSSA
          致力于丰富学生生活、促进文化交流，并为所有对中国文化和中国社群感兴趣的人提供交流的平台。
          RCSSA 举办各类文化、体育和职业发展活动，为全体学生丰富校园生活的同时，也加强了中国学生学者之间的连结。
        </h4>
        <h4 class="about-description" style="margin-top: 3vw">
          莱斯大学的中国学生学者现有一千余人，占学校总人口的10%以上，是学校最大的国际学生学者团体。
        </h4>
      </div>
      <div class="col-md-4">
        <img class="about-logo" src="../img/logos/rcssa.png" alt="" />
      </div>
    </div>
  </div>
</section>
